 <hr> 
 <footer>
    CST336 Internet Programming. 2025&copy; Waltman 
      <p><strong>Disclaimer:</strong> This webpage is for educational purposes only.</p>
      <img class="footer-logo" src="img/csumb_logo.png" alt="CSUMB logo">
  </footer>
